
.tmp-template-advantages-number .tpl-block-list-objects {
  .advantages-object[max-width~="300px"] {
    text-align: center;
    padding: 0 20px;
    align-items: center;
    .advantages-container {
      padding-left: 0;
    }
    .advantages-icon  {
      margin-bottom: 25px;
    }
  }
}
