
.tmp-template-advantages-number .tpl-block-list-objects[max-width~="1050px"] {
  .advantages-container {
    padding-left: 0;
  }
  .anvantages-icon  {
    margin-bottom: 25px;
  }
  .anvantages-object {
    text-align: center;
    padding: 0 20px;
  }
}

.tmp-template-advantages-number .tpl-block-list-objects[max-width~="600px"] {
  .advantages-container {
    padding-left: 0;
  }
  .anvantages-icon  {
    margin-bottom: 25px;
  }
  .anvantages-object {
    text-align: center;
  }
}