.tmp-template-advantages-number.mixin-layout-tiles_4 {
  .tpl-block-list-records {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 1200px;
  }
  .anvantages-record {
    width: 25%;
    max-width: 300px;
    padding: 0 20px;
  }
}


.tmp-template-advantages-number.mixin-layout-tiles_4 {
  .tpl-block-list-records[max-width~="1050px"] {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    .anvantages-record {
      width: 50%;
      flex-direction: column;
      align-items: center;
      max-width: 500px;
    }
  }
  
} 


.tmp-template-advantages-number.mixin-layout-tiles_4 {
  .tpl-block-list-records[max-width~="600px"] {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    padding: 0 20px;
    .anvantages-record {
      flex-direction: column;
      align-items: center;
      width: 100%;
    }
  }
} 