.tmp-template-advantages.mixin-layout-tiles_2 {
  .tpl-block-list-records {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 1200px;
    .anvantages-record {
      width: 50%;
      max-width: 600px;
      padding: 0 20px;
    }
  }
}