.tmp_anvantages-record_top {
  align-items: flex-start;
}


.tmp_anvantages-icon_sm {
  width: 65px;
  min-width: 65px;
  height: 65px;
  min-height: 65px;
}

.tmp_anvantages-icon_md {
  width: 80px;
  min-width: 80px;
  height: 80px;
  min-height: 80px;
}

.tmp_anvantages-icon_lr {
  width: 100px;
  min-width: 100px;
  height: 100px;
  min-height: 100px;
}

.tmp_anvantages-name_md {
  font-size: 20px;
  line-height: 1.35;
  margin-bottom: 14px
}

.tmp_anvantages-name_lr {
  font-size: 30px;
  line-height: 1.17;
  margin-bottom: 25px;
}

.tmp_anvantages-desc_sm {
  font-size: 18px;
  line-height: 1.55;
}

.tmp_anvantages-desc_xs {
  font-size: 16px;
  line-height: 1.55;
}

.tpl-block-list-records.tmp_icon_right {
  .anvantages-record {
    flex-direction: row-reverse;
  }
  .advantages-container {
    padding-left: 0;
    padding-right: 30px;
  }
}