doctype html
html(lang="en")
  head
    title Timetable
    link(href="https://fonts.googleapis.com/css?family=Roboto:300,400,600,700&amp;subset=cyrillic-ext" rel="stylesheet")
    link(rel="stylesheet" type="text/css" href="../../css/main.css?v1")
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0")
  body
    p timetable
    section.tmp-template-timetable#1
      .timetable-prefix
        .tmp-template-header
          h2.header2 Conference Program
          h3.header3 Tuesday, March 14
      .tpl-block-list-objects(data-object-number="4")
        .timetable-object
          .timetable-time 08:00 – 08:30
          .timetable-info
            .timetable-header Opening the Conference
        .timetable-object
          .timetable-time 08:30 – 10:00
          .timetable-info
            .timetable-header Talks about self-development in design and revolutions in minds at the begining of 20's
            .timetable-person
              .timetable-about
                strong Alex Larkins,
                |  projects manager in Pixels
            .timetable-desc How to be a graphic designer and not to lose your soul. Alex will share his experience about the process of making himself as a professional, ups and downs, searching of personal style and aproash. Also there will be a conversation of controversial points in whole conception of design like: what if it is not so hot replica of decree of nature?
        .timetable-object
          .timetable-time 10:15–11:30
          .timetable-info
            .timetable-header Morning workshop
            .timetable-person
              .timetable-image
                img(src="photos/1.jpg")
              .timetable-about
                strong Sarah Lewin,
                |  creative director in DD agency
            .timetable-desc Lettering workshop with guru of pens, brushes, colapens, bamboo dip pens and other instrunents. Sarah will introduce you different styles in writing and show you how to create your own handmade lettering tools.
        .timetable-object
          .timetable-time 11:30 – 12:30
          .timetable-info
            .timetable-header Dinner
    p timetable no separator
    section.tmp-template-timetable#1.tmp_no_separator
      .timetable-prefix
        .tmp-template-header
          h2.header2 Conference Program
          h3.header3 Tuesday, March 14
      .tpl-block-list-objects(data-object-number="4")
        .timetable-object
          .timetable-time 08:00 – 08:30
          .timetable-info
            .timetable-header Opening the Conference
        .timetable-object
          .timetable-time 08:30 – 10:00
          .timetable-info
            .timetable-header Talks about self-development in design and revolutions in minds at the begining of 20's
            .timetable-person
              .timetable-about
                strong Alex Larkins,
                |  projects manager in Pixels
            .timetable-desc How to be a graphic designer and not to lose your soul. Alex will share his experience about the process of making himself as a professional, ups and downs, searching of personal style and aproash. Also there will be a conversation of controversial points in whole conception of design like: what if it is not so hot replica of decree of nature?
        .timetable-object
          .timetable-time 10:15–11:30
          .timetable-info
            .timetable-header Morning workshop
            .timetable-person
              .timetable-image
                img(src="photos/1.jpg")
              .timetable-about
                strong Sarah Lewin,
                |  creative director in DD agency
            .timetable-desc Lettering workshop with guru of pens, brushes, colapens, bamboo dip pens and other instrunents. Sarah will introduce you different styles in writing and show you how to create your own handmade lettering tools.
        .timetable-object
          .timetable-time 11:30 – 12:30
          .timetable-info
            .timetable-header Dinner

    
    script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js")
    script(src="../../css-element-queries/ResizeSensor.js")
    script(src="../../css-element-queries/ElementQueries.js")


