.tmp-template-timetable {
  margin: 0 auto;
  padding: 100px 20px;
  background-color: var(--tpl-color-background-main);
  .timetable-prefix {
    max-width: 560px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 105px;
    text-align: center;
  }
  .tpl-block-list-objects {
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    .timetable-object {
      display: flex;
      border-top: 1px solid var(--tpl-border-main);
      padding: 45px 0;
      &:last-child {
        border-bottom: 1px solid var(--tpl-border-main);
      }
    }
    .timetable-time {
      font-family: var(--tpl-font-family-common);
      font-size: 20px;
      line-height: 1.35;
      font-weight: 600;
      width: 25%;
    }
    .timetable-info {
      width: 75%;
      padding-right: 20px;
    }
    .timetable-person {
      display: flex;
      align-items: center;
      
      & + .timetable-desc {
        margin-top: 35px;
      }
    }
    .timetable-image {
      width: 50px;
      height: 50px;
      min-width: 50px;
      min-height: 50px;
      border-radius: 50%;
      overflow: hidden;
      margin-right: 20px;
      img {
        max-width: 100%;
      }
    }
    .timetable-about {
      font-family: var(--tpl-font-family-common);
      font-weight: 300;
      font-size: 18px;
      line-height: 1.55;
      strong {
        font-weight: 600;
      }
    }
    .timetable-header {
      font-family: var(--tpl-font-family-common);
      font-size: 26px;
      line-height: 1.23;
      font-weight: 600;
      & + .timetable-person {
        margin-top: 35px;
      }
      & + .timetable-desc {
        margin-top: 35px;
      }
    }
    .timetable-desc {
      font-family: var(--tpl-font-family-common);
      font-weight: 300;
      font-size: 18px;
      line-height: 1.55;

    }
  }
  
}


