doctype html
html(lang="en")
  head
    title Timetable With People
    link(href="https://fonts.googleapis.com/css?family=Roboto:300,400,600,700&amp;subset=cyrillic-ext" rel="stylesheet")
    link(rel="stylesheet" type="text/css" href="../../css/main.css?v1")
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0")
  body
    p timetable no separator
    section.tmp-template-timetable-people#1.tmp_no_separator
      .timetable-prefix
        .tmp-template-header
          h2.header2 Conference Program
          h3.header3 Tuesday, March 14
      .tpl-block-list-objects(data-object-number="2")
        .timetable-object    
          .timetable-info
            .timetable-image
                img(src="photos/1.png")
            .timetable-container
              .timetable-name Sarah Lewin
              .timetable-about Projects manager and adverticing director in Pixels
              .timetable-desc Self-development in design and revolutions in minds at the begining of 20's.
          .timetable-time 10:15–11:30

        .timetable-object    
          .timetable-info
            .timetable-image
                img(src="photos/1.png")
            .timetable-container
              .timetable-name Sarah Lewin
              .timetable-about Projects manager and adverticing director in Pixels
              .timetable-desc Self-development in design and revolutions in minds at the begining of 20's.
          .timetable-time 10:15–11:30
    p timetable with round photos and time on the left
    section.tmp-template-timetable-people#1.tmp_photo_round.tmp_time_left
      .timetable-prefix
        .tmp-template-header
          h2.header2 Conference Program
          h3.header3 Tuesday, March 14
      .tpl-block-list-objects(data-object-number="2")
        .timetable-object    
          .timetable-info
            .timetable-image
                img(src="photos/1.png")
            .timetable-container
              .timetable-name Sarah Lewin
              .timetable-about Projects manager and adverticing director in Pixels
              .timetable-desc Self-development in design and revolutions in minds at the begining of 20's.
          .timetable-time 10:15–11:30
        .timetable-object    
          .timetable-info
            .timetable-image
                img(src="photos/1.png")
            .timetable-container
              .timetable-name Sarah Lewin
              .timetable-about Projects manager and adverticing director in Pixels
              .timetable-desc Self-development in design and revolutions in minds at the begining of 20's.
          .timetable-time 10:15–11:30
    p узкая колонка в 800 пикселей
    div(style="max-width:800px; margin: 0 auto")
      section.tmp-template-timetable-people#1.tmp_photo_round.tmp_time_left
        .timetable-prefix
          .tmp-template-header
            h2.header2 Conference Program
            h3.header3 Tuesday, March 14
        .tpl-block-list-objects(data-object-number="2")
          .timetable-object    
            .timetable-info
              .timetable-image
                  img(src="photos/1.png")
              .timetable-container
                .timetable-name Sarah Lewin
                .timetable-about Projects manager and adverticing director in Pixels
                .timetable-desc Self-development in design and revolutions in minds at the begining of 20's.
            .timetable-time 10:15–11:30
          .timetable-object    
            .timetable-info
              .timetable-image
                  img(src="photos/1.png")
              .timetable-container
                .timetable-name Sarah Lewin
                .timetable-about Projects manager and adverticing director in Pixels
                .timetable-desc Self-development in design and revolutions in minds at the begining of 20's.
            .timetable-time 10:15–11:30
    p узкая колонка в 500 пикселей
    div(style="max-width:500px; margin: 0 auto")
       section.tmp-template-timetable-people#1.tmp_no_separator
        .timetable-prefix
          .tmp-template-header
            h2.header2 Conference Program
            h3.header3 Tuesday, March 14
        .tpl-block-list-objects(data-object-number="2")
          .timetable-object    
            .timetable-info
              .timetable-image
                  img(src="photos/1.png")
              .timetable-container
                .timetable-name Sarah Lewin
                .timetable-about Projects manager and adverticing director in Pixels
                .timetable-desc Self-development in design and revolutions in minds at the begining of 20's.
            .timetable-time 10:15–11:30

          .timetable-object    
            .timetable-info
              .timetable-image
                  img(src="photos/1.png")
              .timetable-container
                .timetable-name Sarah Lewin
                .timetable-about Projects manager and adverticing director in Pixels
                .timetable-desc Self-development in design and revolutions in minds at the begining of 20's.
            .timetable-time 10:15–11:30
    script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js")
    script(src="../../css-element-queries/ResizeSensor.js")
    script(src="../../css-element-queries/ElementQueries.js")


