doctype html
html(lang="en")
  head
    title Timetable
    link(href="https://fonts.googleapis.com/css?family=Roboto:300,400,600,700&amp;subset=cyrillic-ext" rel="stylesheet")
    link(rel="stylesheet" type="text/css" href="../../css/main.css?v1")
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0")
  body
    p timetable
    section.tmp-template-timetable-tiles#1.tmp_bg_no_contrast
      .timetable-prefix
        .tmp-template-header
          h2.header2 Conference Program
          h3.header3 Tuesday, March 14
      .tpl-block-list-objects(data-object-number="4")
        .timetable-object
          .timetable-time 08:00 – 08:30
          .timetable-info
            .timetable-header Opening the Conference
            .timetable-desc Experiential graphic design is the application of communication skills to the build environment.
        .timetable-object
          .timetable-time 08:00 – 08:30
          .timetable-info
            .timetable-header Greetings and introduction of delegates
            .timetable-desc Denis Mayer will tell about upcoming conference.
        .timetable-object
          .timetable-time 08:00 – 08:30
          .timetable-info
            .timetable-header Self-development in design and revolutions in minds at the begining of 20's
            .timetable-desc How to be a graphic designer and not to lose your soul.
        .timetable-object
          .timetable-time 08:30 – 10:00
          .timetable-info
            .timetable-header Calligraphy workshop
            .timetable-desc Lettering workshop with guru of pens, brushes, colapens, bamboo dip pens and other cool tools.
            .timetable-person
              .timetable-image
                img(src="photos/1.jpg")
              .timetable-about
                strong Alex Larkins,
                |  projects manager in Pixels
        .timetable-object
          .timetable-time 08:00 – 08:30
          .timetable-info
            .timetable-header Crowdsourcing in graphic design companies
            .timetable-desc Tasks may be assigned to individuals or a group and may be categorized as convergent or divergent.
        .timetable-object
          .timetable-time 10:15–11:30
          .timetable-info
            .timetable-header Experiential graphic design
            .timetable-desc Experiential graphic design is the application of communication skills to the build environment.
            .timetable-person
              .timetable-image
                img(src="photos/1.jpg")
              .timetable-about
                strong Sarah Lewin,
                |  creative director in DD agency
    p узкая колонка в 800 пикселей
    div(style="max-width:800px; margin: 0 auto")
      section.tmp-template-timetable-tiles#1.tmp_bg_no_contrast
        .timetable-prefix
          .tmp-template-header
            h2.header2 Conference Program
            h3.header3 Tuesday, March 14
        .tpl-block-list-objects(data-object-number="4")
          .timetable-object
            .timetable-time 08:00 – 08:30
            .timetable-info
              .timetable-header Opening the Conference
              .timetable-desc Experiential graphic design is the application of communication skills to the build environment.
          .timetable-object
            .timetable-time 08:00 – 08:30
            .timetable-info
              .timetable-header Greetings and introduction of delegates
              .timetable-desc Denis Mayer will tell about upcoming conference.
          .timetable-object
            .timetable-time 08:00 – 08:30
            .timetable-info
              .timetable-header Self-development in design and revolutions in minds at the begining of 20's
              .timetable-desc How to be a graphic designer and not to lose your soul.
          .timetable-object
            .timetable-time 08:30 – 10:00
            .timetable-info
              .timetable-header Calligraphy workshop
              .timetable-desc Lettering workshop with guru of pens, brushes, colapens, bamboo dip pens and other cool tools.
              .timetable-person
                .timetable-image
                  img(src="photos/1.jpg")
                .timetable-about
                  strong Alex Larkins,
                  |  projects manager in Pixels
          .timetable-object
            .timetable-time 08:00 – 08:30
            .timetable-info
              .timetable-header Crowdsourcing in graphic design companies
              .timetable-desc Tasks may be assigned to individuals or a group and may be categorized as convergent or divergent.
          .timetable-object
            .timetable-time 10:15–11:30
            .timetable-info
              .timetable-header Experiential graphic design
              .timetable-desc Experiential graphic design is the application of communication skills to the build environment.
              .timetable-person
                .timetable-image
                  img(src="photos/1.jpg")
                .timetable-about
                  strong Sarah Lewin,
                  |  creative director in DD agency
    p узкая колонка в 500 пикселей
    div(style="max-width:500px; margin: 0 auto")
      section.tmp-template-timetable-tiles#1.tmp_bg_no_contrast
        .timetable-prefix
          .tmp-template-header
            h2.header2 Conference Program
            h3.header3 Tuesday, March 14
        .tpl-block-list-objects(data-object-number="4")
          .timetable-object
            .timetable-time 08:00 – 08:30
            .timetable-info
              .timetable-header Opening the Conference
              .timetable-desc Experiential graphic design is the application of communication skills to the build environment.
          .timetable-object
            .timetable-time 08:00 – 08:30
            .timetable-info
              .timetable-header Greetings and introduction of delegates
              .timetable-desc Denis Mayer will tell about upcoming conference.
          .timetable-object
            .timetable-time 08:00 – 08:30
            .timetable-info
              .timetable-header Self-development in design and revolutions in minds at the begining of 20's
              .timetable-desc How to be a graphic designer and not to lose your soul.
          .timetable-object
            .timetable-time 08:30 – 10:00
            .timetable-info
              .timetable-header Calligraphy workshop
              .timetable-desc Lettering workshop with guru of pens, brushes, colapens, bamboo dip pens and other cool tools.
              .timetable-person
                .timetable-image
                  img(src="photos/1.jpg")
                .timetable-about
                  strong Alex Larkins,
                  |  projects manager in Pixels
          .timetable-object
            .timetable-time 08:00 – 08:30
            .timetable-info
              .timetable-header Crowdsourcing in graphic design companies
              .timetable-desc Tasks may be assigned to individuals or a group and may be categorized as convergent or divergent.
          .timetable-object
            .timetable-time 10:15–11:30
            .timetable-info
              .timetable-header Experiential graphic design
              .timetable-desc Experiential graphic design is the application of communication skills to the build environment.
              .timetable-person
                .timetable-image
                  img(src="photos/1.jpg")
                .timetable-about
                  strong Sarah Lewin,
                  |  creative director in DD agency
    script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js")
    script(src="../../css-element-queries/ResizeSensor.js")
    script(src="../../css-element-queries/ElementQueries.js")


