.tmp-template-corp-tiles.mixin-layout-tiles_4 {
  .tpl-block-list-objects {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 1200px;
  }
  .contacts-object {
    width: 24%;
    min-width: 300px;
  }
}
