

.tmp-template-partners-names .tpl-block-list-objects {
  .partners-object[max-width~="500px"] {
    flex-wrap: wrap;
    flex-direction: column;
    padding: 0 20px;
    text-align: center;
    .partners-image {
      width: 100%;
    }
    .partners-info {
      width: 100%;
      padding: 0;
    }
  }
 
}