doctype html
html(lang="en")
  head
    title Partners with names
    link(href="https://fonts.googleapis.com/css?family=Roboto:300,400,600,700&amp;subset=cyrillic-ext" rel="stylesheet")
    link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Swiper/4.3.5/css/swiper.min.css")
    link(rel="stylesheet" type="text/css" href="../../css/main.css?v1")
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0")
  body
    p partners with names
    section.tmp-template-partners-names#1
      .partners-prefix
        .tmp-template-header
          h2.header2 Sponsors of the festival
      .tpl-block-list-objects(data-object-number="2")
          .partners-object   
            .partners-image
              img(src='https://static.tildacdn.com/tild3936-6161-4265-a533-363634303762/blob.png')
            .partners-info
              .partners-name Stopline Vibes
              .partners-desc Sound production and light creators. The company has already worked with big city projects as "City collectors" in 2015. Also Stopline vibes is rewarded "White lief" of 1017.
          .partners-object   
            .partners-image
              img(src='https://static.tildacdn.com/tild6330-6361-4731-b533-353632343362/blob.png')
            .partners-info
              .partners-name Minds Ahead Educate
              .partners-desc Minds ahead is an educational project in culture, languages and communications. The project is spread all over the world and it works with kids, teens and adults.
    p partners with names 2 tiles
    section.tmp-template-partners-names#1.mixin-layout-tiles_2
      .partners-prefix
        .tmp-template-header
          h2.header2 Sponsors of the festival
      .tpl-block-list-objects(data-object-number="2")
          .partners-object   
            .partners-image
              img(src='https://static.tildacdn.com/tild3936-6161-4265-a533-363634303762/blob.png')
            .partners-info
              .partners-name Stopline Vibes
              .partners-desc Sound production and light creators. The company has already worked with big city projects as "City collectors" in 2015. Also Stopline vibes is rewarded "White lief" of 1017.
          .partners-object   
            .partners-image
              img(src='https://static.tildacdn.com/tild6330-6361-4731-b533-353632343362/blob.png')
            .partners-info
              .partners-name Minds Ahead Educate
              .partners-desc Minds ahead is an educational project in culture, languages and communications. The project is spread all over the world and it works with kids, teens and adults.
    p узкая колонка в 500 пикселей
    div(style="max-width:500px; margin: 0 auto")
      section.tmp-template-partners-names#1
        .partners-prefix
          .tmp-template-header
            h2.header2 Sponsors of the festival
        .tpl-block-list-objects(data-object-number="2")
            .partners-object   
              .partners-image
                img(src='https://static.tildacdn.com/tild3936-6161-4265-a533-363634303762/blob.png')
              .partners-info
                .partners-name Stopline Vibes
                .partners-desc Sound production and light creators. The company has already worked with big city projects as "City collectors" in 2015. Also Stopline vibes is rewarded "White lief" of 1017.
            .partners-object   
              .partners-image
                img(src='https://static.tildacdn.com/tild6330-6361-4731-b533-353632343362/blob.png')
              .partners-info
                .partners-name Minds Ahead Educate
                .partners-desc Minds ahead is an educational project in culture, languages and communications. The project is spread all over the world and it works with kids, teens and adults.
    
    script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js")
    script(src="../../css-element-queries/ResizeSensor.js")
    script(src="../../css-element-queries/ElementQueries.js")



