:root {
  // fonts
  --tpl-font-family-common: 'Roboto', sans-serif;
  --tpl-font-family-accent: 'Georgia', serif;
  //text colors
  --tpl-color-foreground-main: #000000;
  --tpl-color-foreground-accent: white;
  //background colors
  --tpl-color-background-main:white;
  --tpl-color-background-accent:  #FAFAFA;
  --tpl-color-background-contrast:  rgb(66, 65, 65);
  //border colors
  --tpl-border-main: rgba(#000000, 0.1);
}