

.tmp-template-advantages .tpl-block-list-objects {
  .advantages-object[max-width~="400px"] {
    text-align: center;
    flex-direction: column;
    align-items: center;
    width: 100%;
    max-width: 100%;
    .advantages-icon  {
        margin-bottom: 25px;
    }
  }
}