.tmp-template-advantages.mixin-layout-columns {
  .tpl-block-list-records {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
  }
}

.tmp-template-advantages, .tmp-template-advantages.mixin-layout-columns {
  .tpl-block-list-records[max-width~="500px"] {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    padding: 0 20px;
    .anvantages-record {
      flex-direction: column;
      align-items: center;
      width: 100%;
    }
  }
} 