

.tmp-template-quotes .tpl-block-list-objects {
  .quotes-object[max-width~="900px"] {
    flex-wrap: wrap;
    .quotes-container {
      width: 100%;
      max-width: 600px;
      margin: 20px auto;
    }
    .quotes-desc {
      margin: 0 auto;
      width: 100%;
      max-width: 600px;
    }
  }
}