doctype html
html(lang="en")
  head
    title Contacts Corpotate Map
    link(href="https://fonts.googleapis.com/css?family=Roboto:300,400,600,700&amp;subset=cyrillic-ext" rel="stylesheet")
    link(rel="stylesheet" type="text/css" href="../../css/main.css?v1")
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0")
  body
  
    p contacts
    section.tmp-template-corp-map#1.tmp_align_center.mixin-layout-tiles_3.tmp_info_before_map
      .contacts-prefix
        .tmp-template-header
          h2.header2 Contacts and location
          h3.header3 Feel free to write, call and visit us. We really love to communicate with our clients.
      .tpl-block-list-objects(data-object-number="3")
        .contacts-object   
          .contacts-image
            include icons/smartphone.svg
          .contacts-info            
            .contacts-header Contact
            .contacts-about 
              span +1 123 456 78 90
              br
              span hello@madeontilda.com
        .contacts-object   
          .contacts-image
            include icons/pin.svg
          .contacts-info            
            .contacts-header Address
            .contacts-about Loft Pineapple, 22 New Green Street, New York
        .contacts-object   
          .contacts-image
            include icons/compass.svg
          .contacts-info            
            .contacts-header Pathway
            .contacts-about We are located in the northern part of the city. The nearest subway is the North Road.
      .contacts-map.contacts-object
          iframe(src="https://yandex.com/map-widget/v1/?um=constructor%3Afc65a15f898160f1e63155c267ba96dca2ffd0f494ed66331983decf89a3f830&amp;source=constructor" width="100%" height="526" frameborder="0")
    p contacts column
    section.tmp-template-corp-map#1.tmp_align_center.tmp_info_before_map.mixin-layout-column
      .contacts-prefix
        .tmp-template-header
          h2.header2 Contacts and location
          h3.header3 Feel free to write, call and visit us. We really love to communicate with our clients.
      .tpl-block-list-objects(data-object-number="3")
        .contacts-object   
          .contacts-info            
            .contacts-header Contact
            .contacts-about 
              span +1 123 456 78 90
              br
              span hello@madeontilda.com
        .contacts-object   
          .contacts-info            
            .contacts-header Address
            .contacts-about Loft Pineapple, 22 New Green Street, New York
        .contacts-object   
          .contacts-info            
            .contacts-header Pathway
            .contacts-about We are located in the northern part of the city. The nearest subway is the North Road.
      .contacts-map.contacts-object
        iframe(src="https://yandex.com/map-widget/v1/?um=constructor%3Afc65a15f898160f1e63155c267ba96dca2ffd0f494ed66331983decf89a3f830&amp;source=constructor" width="100%" height="526" frameborder="0")
    p contacts column left
    section.tmp-template-corp-map#1.tmp_align_left.tmp_info_before_map.mixin-layout-column.tmp_column_left
      .contacts-prefix
        .tmp-template-header
          h2.header2 Contacts and location
          h3.header3 Feel free to write, call and visit us. We really love to communicate with our clients.
      .tpl-block-list-objects(data-object-number="3")
        .contacts-object   
          .contacts-info            
            .contacts-header Contact
            .contacts-about 
              span +1 123 456 78 90
              br
              span hello@madeontilda.com
        .contacts-object   
          .contacts-info            
            .contacts-header Address
            .contacts-about Loft Pineapple, 22 New Green Street, New York
        .contacts-object   
          .contacts-info            
            .contacts-header Pathway
            .contacts-about We are located in the northern part of the city. The nearest subway is the North Road.
      .contacts-map.contacts-object
        iframe(src="https://yandex.com/map-widget/v1/?um=constructor%3Afc65a15f898160f1e63155c267ba96dca2ffd0f494ed66331983decf89a3f830&amp;source=constructor" width="100%" height="526" frameborder="0")
    p contacts left from the map
    section.tmp-template-corp-map#1.tmp_align_left.tmp_info_left_map
      .contacts-prefix
        .tmp-template-header
          h2.header2 Contacts and location
          h3.header3 Feel free to write, call and visit us. We really love to communicate with our clients.
      .tpl-block-list-objects(data-object-number="3")
        .contacts-object   
          .contacts-info            
            .contacts-header Contact
            .contacts-about 
              span +1 123 456 78 90
              br
              span hello@madeontilda.com
              br
              span Loft Pineapple, 22 New Green Street, New York
          .contacts-socials
            a(href="#").contacts-social
              include icons/fb.svg
            a(href="#").contacts-social
              include icons/tw.svg
            a(href="#").contacts-social
              include icons/insta.svg
        .contacts-map.contacts-object
          iframe(src="https://yandex.com/map-widget/v1/?um=constructor%3Afc65a15f898160f1e63155c267ba96dca2ffd0f494ed66331983decf89a3f830&amp;source=constructor" width="100%" height="400" frameborder="0")
    p contacts right from the map
    section.tmp-template-corp-map#1.tmp_align_left.tmp_info_right_map
      .contacts-prefix
        .tmp-template-header
          h2.header2 Contacts and location
          h3.header3 Feel free to write, call and visit us. We really love to communicate with our clients.
      .tpl-block-list-objects(data-object-number="3")
        .contacts-object   
          .contacts-info            
            .contacts-header Contact
            .contacts-about 
              span +1 123 456 78 90
              br
              span hello@madeontilda.com
              br
              span Loft Pineapple, 22 New Green Street, New York
          .contacts-socials
            a(href="#").contacts-social
              include icons/fb.svg
            a(href="#").contacts-social
              include icons/tw.svg
            a(href="#").contacts-social
              include icons/insta.svg
        .contacts-map.contacts-object
          iframe(src="https://yandex.com/map-widget/v1/?um=constructor%3Afc65a15f898160f1e63155c267ba96dca2ffd0f494ed66331983decf89a3f830&amp;source=constructor" width="100%" height="400" frameborder="0")
    p contacts left inside the map
    section.tmp-template-corp-map#1.tmp_align_left.tmp_info_right_inside_map
      .contacts-prefix
        .tmp-template-header
          h2.header2 Contacts and location
          h3.header3 Feel free to write, call and visit us. We really love to communicate with our clients.
      .tpl-block-list-objects(data-object-number="1")      
        .contacts-object   
            .contacts-info            
              .contacts-header Contact
              .contacts-about 
                span +1 123 456 78 90
                br
                span hello@madeontilda.com
                br
                span Loft Pineapple, 22 New Green Street, New York
            .contacts-socials
              a(href="#").contacts-social
                include icons/fb.svg
              a(href="#").contacts-social
                include icons/tw.svg
              a(href="#").contacts-social
                include icons/insta.svg
      .contacts-map.contacts-object
        iframe(src="https://yandex.com/map-widget/v1/?um=constructor%3Afc65a15f898160f1e63155c267ba96dca2ffd0f494ed66331983decf89a3f830&amp;source=constructor" width="100%" height="560" frameborder="0")
    script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js")
    script(src="../../css-element-queries/ResizeSensor.js")
    script(src="../../css-element-queries/ElementQueries.js")


