doctype html
html(lang="en")
  head
    title contacts With People
    link(href="https://fonts.googleapis.com/css?family=Roboto:300,400,600,700&amp;subset=cyrillic-ext" rel="stylesheet")
    link(rel="stylesheet" type="text/css" href="../../css/main.css?v1")
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0")
  body
    p contacts round
    section.tmp-template-contacts-personal#1.tmp_align_center.tmp_photo_round
      .contacts-prefix
        .tmp-template-header
          h2.header2 Feel free to contact me
      .tpl-block-list-objects(data-object-number="1")
        .contacts-object   
          .contacts-image
            img(src="photos/1.png") 
          .contacts-info            
            .contacts-header Sarah Lewin
            .contacts-about Freelance photographer & photo editor
          .contacts-items
            .contacts-item 
              strong Phone: 
              |  +1 123 456 78 90
            .contacts-item 
              strong E-mail:
              |  hello@madeontilda.com
          .contacts-socials
            a(href="#").contacts-social
              include icons/fb.svg
            a(href="#").contacts-social
              include icons/tw.svg
            a(href="#").contacts-social
              include icons/insta.svg
    p contacts round 3 tiles
    section.tmp-template-contacts-personal#1.tmp_align_center.tmp_photo_round.mixin-layout-tiles_3
      .contacts-prefix
        .tmp-template-header
          h2.header2 Feel free to contact me
      .tpl-block-list-objects(data-object-number="3")
        .contacts-object   
          .contacts-image
            img(src="photos/1.png") 
          .contacts-info            
            .contacts-header Sarah Lewin
            .contacts-about Freelance photographer & photo editor
          .contacts-items
            .contacts-item 
              strong Phone: 
              |  +1 123 456 78 90
            .contacts-item 
              strong E-mail:
              |  hello@madeontilda.com
          .contacts-socials
            a(href="#").contacts-social
              include icons/fb.svg
            a(href="#").contacts-social
              include icons/tw.svg
            a(href="#").contacts-social
              include icons/insta.svg
        .contacts-object   
          .contacts-image
            img(src="photos/1.png") 
          .contacts-info            
            .contacts-header Sarah Lewin
            .contacts-about Freelance photographer & photo editor
          .contacts-items
            .contacts-item 
              strong Phone: 
              |  +1 123 456 78 90
            .contacts-item 
              strong E-mail:
              |  hello@madeontilda.com
          .contacts-socials
            a(href="#").contacts-social
              include icons/fb.svg
            a(href="#").contacts-social
              include icons/tw.svg
            a(href="#").contacts-social
              include icons/insta.svg
        .contacts-object   
          .contacts-image
            img(src="photos/1.png") 
          .contacts-info            
            .contacts-header Sarah Lewin
            .contacts-about Freelance photographer & photo editor
          .contacts-items
            .contacts-item 
              strong Phone: 
              |  +1 123 456 78 90
            .contacts-item 
              strong E-mail:
              |  hello@madeontilda.com
          .contacts-socials
            a(href="#").contacts-social
              include icons/fb.svg
            a(href="#").contacts-social
              include icons/tw.svg
            a(href="#").contacts-social
              include icons/insta.svg
    p contacts round 4 tiles
    section.tmp-template-contacts-personal#1.tmp_align_center.tmp_photo_round.mixin-layout-tiles_4
      .contacts-prefix
        .tmp-template-header
          h2.header2 Feel free to contact me
      .tpl-block-list-objects(data-object-number="4")
        .contacts-object   
          .contacts-image
            img(src="photos/1.png") 
          .contacts-info            
            .contacts-header Sarah Lewin
            .contacts-about Freelance photographer & photo editor
          .contacts-items
            .contacts-item 
              strong Phone: 
              |  +1 123 456 78 90
            .contacts-item 
              strong E-mail:
              |  hello@madeontilda.com
          .contacts-socials
            a(href="#").contacts-social
              include icons/fb.svg
            a(href="#").contacts-social
              include icons/tw.svg
            a(href="#").contacts-social
              include icons/insta.svg
        .contacts-object   
          .contacts-image
            img(src="photos/1.png") 
          .contacts-info            
            .contacts-header Sarah Lewin
            .contacts-about Freelance photographer & photo editor
          .contacts-items
            .contacts-item 
              strong Phone: 
              |  +1 123 456 78 90
            .contacts-item 
              strong E-mail:
              |  hello@madeontilda.com
          .contacts-socials
            a(href="#").contacts-social
              include icons/fb.svg
            a(href="#").contacts-social
              include icons/tw.svg
            a(href="#").contacts-social
              include icons/insta.svg
        .contacts-object   
          .contacts-image
            img(src="photos/1.png") 
          .contacts-info            
            .contacts-header Sarah Lewin
            .contacts-about Freelance photographer & photo editor
          .contacts-items
            .contacts-item 
              strong Phone: 
              |  +1 123 456 78 90
            .contacts-item 
              strong E-mail:
              |  hello@madeontilda.com
          .contacts-socials
            a(href="#").contacts-social
              include icons/fb.svg
            a(href="#").contacts-social
              include icons/tw.svg
            a(href="#").contacts-social
              include icons/insta.svg
        .contacts-object   
          .contacts-image
            img(src="photos/1.png") 
          .contacts-info            
            .contacts-header Sarah Lewin
            .contacts-about Freelance photographer & photo editor
          .contacts-items
            .contacts-item 
              strong Phone: 
              |  +1 123 456 78 90
            .contacts-item 
              strong E-mail:
              |  hello@madeontilda.com
          .contacts-socials
            a(href="#").contacts-social
              include icons/fb.svg
            a(href="#").contacts-social
              include icons/tw.svg
            a(href="#").contacts-social
              include icons/insta.svg

    script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js")
    script(src="../../css-element-queries/ResizeSensor.js")
    script(src="../../css-element-queries/ElementQueries.js")


